<p id="notice"><%= notice %></p>


<p>
  <strong>物件名:</strong>
  <%= @home.name %>
</p>

<p>
  <strong>賃料:</strong>
  <%= @home.price %>万円
</p>

<p>
  <strong>住所:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>築年数:</strong>
  <%= @home.age %>年
</p>

<p>
  <strong>備考:</strong>
  <%= @home.mark %>

  <% n = 1 %>
  <% @nstation.each do |i| %>
  <h2>最寄駅 <%= n %> </h2>
  <p>
    <strong>路線名<strong>
    <%= i.route %>
  </p>

  <p>
    <strong>駅名<strong>
    <%= i.station %>
  </p>

  <p>
    <strong>徒歩分数<strong>
    <%= i.minonfoot %>分
  </p>
  <% n += 1 %>
<% end %>
<%= link_to '編集', edit_home_path(@home) %> |
<%= link_to '戻る', homes_path %>
